.reveal figure {
    margin-top: 45px;
}

.reveal figcaption {
    margin-top: -15px;
    font-size: medium;
    font-weight: normal;
}

.reveal code {
    font-size: .75em;
    color: #aaa;
    border: 1px solid rgba(255,255,255,0.1);
    padding: 0 0.3em;
}